body
{
  background-size: cover;
}

.heading
{
    width: 100%;
    margin: 0;
    font-size: 23px;
}

.note
{
    font-size: 15px;
    color: black;
}

#song_name
{
    font-size: 20px;
}